**/dist
charts/*/templates
charts/*/vendor
charts/*/crds
**/.next
**/next-env.d.ts
**/coverage
packages/control-plane/prisma/migrations
pnpm-lock.yaml
LICENSE
packages/control-plane/src/generated
packages/vmm/.build
packages/vmm/image
